.dependabot/
.git/
.github/
.vscode/
assets/

bin/deploy.sh
bin/migrate_database.sh
bin/orchestrate_containers.sh
bin/test_containers.sh

services/client/coverage/
services/client/node_modules/
services/client/.dockerignore
services/client/.eslintrc.json
services/client/entrypoint.sh

services/db/

services/server/.pytest_cache/
services/server/logs/
services/server/.coverage
services/server/.coveragerc
services/server/.dockerignore
services/server/.env
services/server/.env.example
services/server/Dockerfile
services/server/entrypoint.sh
services/server/pyproject.toml
services/server/README.md
services/server/setup.cfg

.deepsource.toml
.gitignore
.gitlab-ci.yml
.pep8speaks.yml
docker-compose.yml
LICENSE
README.md
