# environments
node_modules/
env
.env

# database
services/db/data/

# caches
__pycache__/
.pytest_cache/

# editor configs
.vscode/

# logs
services/server/logs/
services/nginx/logs/

# client test coverage
services/client/coverage

# builds
services/nginx/build

*.lock
